body {background-color: #777; margin: 0; padding: 0;}
header {background-color: #222;}
header img {max-height: 20px;}
main {background-color: #555; color: #eee; padding: 0.5rem 2rem;}
nav {padding: 0.5rem 0;}
a {color: #f00;}
a:hover {color: #f99; text-decoration: none; border-bottom: 3px solid #f00;}
header ul li {display:inline-block; margin:0 0.5rem;}
aside {background-color: #359; width: 30%; float: right;}